* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0px;
  background: rgb(206, 205, 205);
}
.container {
    padding: 2vh;
}
header,
h1 {
  margin-bottom: 5vh;
  text-align: center;
}

img {
  width: 70px;
}
div {
  margin-bottom: 5vh;
}
.name {
  margin-left: 15.5vh;
  width: 50%;
  outline: none;
  height: 35px;
  margin-top: 5px;
  padding: 5px;
  font-size: 17px;
}
.matric {
  margin-left: 10vh;
  width: 50%;
  outline: none;
  height: 35px;
  margin-top: 5px;
  padding: 5px;
  font-size: 17px;
}
.address {
  margin-left: 19vh;
  width: 50%;
  outline: none;
  height: 35px;
  margin-top: 5px;
  padding: 5px;
  font-size: 17px;
}
.dob {
  margin-left: 13vh;
  width: 50%;
  outline: none;
  height: 35px;
  margin-top: 5px;
  padding: 5px;
  font-size: 17px;
}
.state {
  margin-left: 24vh;
  width: 50%;
  outline: none;
  height: 35px;
  margin-top: 5px;
  padding: 5px;
  font-size: 17px;
}
.number {
  margin-left: 10vh;
  width: 50%;
  outline: none;
  height: 35px;
  margin-top: 5px;
  padding: 5px;
  font-size: 17px;
}
.email {
  margin-left: 10.5vh;
  width: 50%;
  outline: none;
  height: 35px;
  margin-top: 5px;
  padding: 5px;
  font-size: 17px;
}
.sex {
  margin-left: 26.5vh;
  width: 50%;
  outline: none;
  height: 35px;
  margin-top: 5px;
  padding: 5px;
  font-size: 17px;
}
.dept {
  margin-left: 17vh;
  width: 50%;
  outline: none;
  height: 35px;
  margin-top: 5px;
  padding: 5px;
  font-size: 17px;
}
.next {
  margin-left: 17vh;
  width: 50%;
  outline: none;
  height: 35px;
  margin-top: 5px;
  padding: 5px;
  font-size: 17px;
}
.mode {
  margin-left: 12vh;
  width: 50%;
  outline: none;
  height: 35px;
  margin-top: 5px;
  padding: 5px;
  font-size: 17px;
}

label {
  font-size: 20px;
  font-weight: bold;
}
textarea {
  padding: 5px;
  font-size: 17px;
}
button {
  margin: 5vh;
  padding: 20px;
  border-radius: 5px;
  background: green;
  outline: none;
  border: none;
  padding: 10px;
  color: #ffff;
  font-weight: bold;
  font-size: 17px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.container button {
  text-align: center;
}
@media screen and (max-width: 468px) {
  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-bottom: 6vh;
  }
  label {
    margin-bottom: 1vh;
  }
  .matric,
  .name,
  .sex,
  .address,
  .email,
  .state,
  .dob,
  .next,
  .dept,
  .number,
  .mode {
    margin: 0;
  }
}
